{% extends "layout.html" %}
 
{% block title %}
  About Us
{% endblock %}
 
{% block main %}
<img src="/static/founders.png" alt="aboutus" class="center">
<h4 class="center"> About Us </h4>
<p class ="center"> Hello, We are two Harvard freshmen that just got introduced to programming less than three months ago. This is our first, but certainly not least coding project. We wanted to create a fun and dynamic coding game that allows users to track their progress and also compare themselves with our fastest typers.</p>
{% endblock %}
